{% extends 'base.html' %}
{% load static %}


{% block title %}Projects{% endblock title %}

{% block content %}
<div class="main-container">
    <h1>My Projects</h1>
    <div class="card-container">
        <div class="card">
            <img src="{% static 'images/coffee.jpg' %}" alt="Coffee Blog homepage screenshot">
            <h2>Coffee Blog</h2>
            <p>Description of Project 1</p>
        </div>
        <div class="card">
            <img src="{% static 'images/petsalon.jpg' %}" alt="Pet Salon homepage screenshot">
            <h2>Pet Salon</h2>
            <p>Description of Project 2</p>
        </div>
        <div class="card">
            <img src="{% static 'images/bag.png' %}" alt="Online Store homepage screenshot">
            <h2>Online Store</h2>
            <p>Description of Project 3</p>
        </div>
    </div>
</div>
{% endblock content %}